* {
    margin: 0;
    padding: 0;
}
body {
    background-color: gainsboro;
    font-family: 'Roboto', sans-serif;
}
.content{
    margin: 0 auto;
    background-color: white;
    width: 500px;
    margin-top: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px grey;
}
.logo{
    margin: 0 auto;
    width: 300px;
    padding-top: 50px;
}
.social_connect {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}
.main_form {
    width: 300px;
    margin: 0 auto;
    padding-right: 20px;
}

.log_in {
    margin: 0 auto;
    width: 300px;
    margin-top: 40px;
    padding-bottom: 50px;
}
.log_in p {
    margin-top: 10px;
    text-align: center;
}
.log_in a {
    text-decoration: none;
    color: blueviolet;
}
.log_in a:hover {
    text-decoration: underline;
    color: blueviolet;
}
.errors{
    font-size: 17px;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid red;
    padding: 7px 5px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;

}
form {
	height:100%;
}
.year{
    width: 320px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
}
/*при merge стилей удалить!*/
.matter_link {
    font-size: 16px;
    margin: 25px 0 30px 0;
    text-align: center;
}
.sj_btn {
    border: 1px solid #ccc;
    color: #505050;
}
.sj_btn:hover {
    border: 1px solid #d6d6d6;
    background: #e2e2e2;
    background: rgba(204,204,204,.3);
    color: #3d3d3d;
}
.sj_btn, .sj_btn:hover {   
    display: inline-block;
    text-decoration: none;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    transition: all .2s;
    font-size: 20px;
    height: 33px;
    line-height: 31px;
    padding: 0 10px;
}
/*интеграция новых стилей*/
.box h1{
    text-transform: uppercase;
    font-weight: 500;
}
.box{
    text-align: center;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CC33FF;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}

.box input[type="text"]:focus,.box input[type="password"]:focus{
    width: 280px;
    border-color: #2ecc71;
}

.box input[type="submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: #2ecc71;
}
/*интеграция новых стилей*/
.regis{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CC33FF;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.matter_link a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.regis:hover {
    background: #CC33FF;
}
.check_entry{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #CC33FF;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 0.25s;
}
.check_entry:hover{
    background: #CC33FF;
}
.checkin{
    padding-bottom: 30px;
}
.checkin a {
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.check_name{
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
}