<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/style.css">
    <title>Регистрация | FirstJob</title>
</head>
<body>
<div class="content">
    <div class="logo">
        <img src="../img/logo.png" alt="FirstJob Лого">
    </div>
    <div class="social_connect">
        <p>Регистрация</p>
    </div>
    <div class="vk_button">
        <p>Войти через Вконтакте</p>
    </div>
    <div class="main_form">
        <form action="">
            <input id="email_input" type="text" name="email" placeholder="Адрес почты" title="Введите почту">
            <input id="password_input" type="password" name="password" placeholder="Пароль" title ="Введите пароль">
            <input id="join_submit" type="submit" name="join" value="Присоединиться к FirstJob">
        </form>
    </div>
    <div class="log_in">
        <hr>
        <p>
            Уже есть аккаунт? <a href="">Авторизоваться</a>
        </p>
    </div>
</div>
</body>
</html>