<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Регистрация | FirstJob</title>
</head>
<body>
<div class="content">
    <div class="logo">
        <img src="" alt="FirstJob Лого">
    </div>
    <div class="social_connect">
        <p>Регистрация</p>
        <div class="vk_button">
            <p>Войти через Вконтакте</p>
        </div>
    </div>
    <div class="main_form">
        <form action="">
            <input type="text" name="email" placeholder="Адрес почты" title="Введите почту">
            <input type="password" name="password" placeholder="Пароль" title ="Введите пароль">
            <input type="submit" name="join">
        </form>
    </div>
    <div class="log_in">

    </div>
</div>
</body>
</html>